* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.header {
  background: #fff5f0;
  height: 600px;
  
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 30px 295px 50px 195px;
}

.nav__rightside {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav__leftside {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav__logo {
  font-size: 30px;
  font-weight: bold;
}
.nav__items {
  display: flex;
  gap: 21px;
}
.nav__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}
.button {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  gap: 30px;
}
.button__linkgreen {
  color: #1ba0ab;
  font-weight: bold;
}
.button__linkgreen--border{
  padding: 15px 25px 15px 25px;
   border-radius: 5px;
   border-color:#1ba0ab;
   background-color: transparent;

}
.button__btn--primary {
  background: #1ba0ab;
  padding: 15px 25px 15px 25px;
  color: white;
  border-radius: 5px;
  border: none;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 295px 50px 150px;
 
}
.hero__title {
  color: #1ba0ab;
  font-size:16px;
}
.hero__introduction {
  font-size: 58px;
  font-weight: bold;
  color: #252b42;
  max-width: 500px;
}
.hero__subintroduction {
  color: #737373;
   Font-size: 20px

}
.hero__button {
  background-color: #1ba0ab;
  color: #fff5f0;
  border-radius: 4px;
  padding: 6px 20px 6px 20px;
}
.main {
  padding: 160px 150px 108px 150px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:144px;
}
.container__image {
  object-fit: cover;
  max-width: 420px;
  max-height: 549px;
}
.container__border {
  height: 5px;
  width: 100px;
  background-color: red;
 
}
.container__text {
  display:flex;
  flex-direction: column;
  gap: 10px;
  width: 469px;

}
.container__text--big-gap{
  gap:30px;
}
.container__heading {
 font-weight:bold;
Font-size: 40px;
Line-height: 50px;
}
.container__paragraph ,.container__paragraph2{
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
 letter-spacing: 0.2px;
 font-style: normal;
}
.container__paragraph--color{
  color:#1ba0ab;
}

.team {
  padding-top: 112px;
  max-width: 691px;
}
.user {
  display: flex;
  justify-content: space-between;
  padding-top: 112px;
  gap: 20px;
}
.user__card {
  border-radius: 20px;
  background-color: white;
  max-width: 238px;
  max-height: 375px;
  padding: 0px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.user__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 25px;
  padding: 20px 0px 20px 0px;
  font-family: "Montserrat";
}
.user__image {
  width: 238px;
  height: 231px;
  border-radius: 20px 20px 0px 0px;
}
.user__name {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: bold;
}
.user__title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #737373;
}
.user__icons {
  display: flex;
  gap: 15px;
  color: #1ba0ab;
}
.footer {
  padding: 130px 150px 130px 150px;
  background-color: #fff5f0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 60px;
}
.footer__input {
  width: 600px;
  height: 50px;
  border: none;
  border-top: #252b4252 solid 1px;
  border-bottom: #252b4252 solid 1px;
  border-left: #252b4252 solid 1px;
  padding-left: 20px;
}

.footer__input-container {
  display: flex;
  gap: collapse;
  ;
}

.button__btn--primary--radius {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.contain__text--width{
  width:469px;

}
